* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-weight: bold;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.x-color {
  color: #008500;
}

.o-color {
  color: #0000af;
}

@supports (grid-area: auto) {
  .tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 34px);
    grid-template-rows: repeat(3, 34px);
  }

  .board-row {
    grid-column: 1 / span 3;
  }

  .board-row:first-of-type {
    grid-row: 1;
  }

  .board-row:nth-of-type(2) {
    grid-row: 2;
  }

  .board-row:last-of-type {
    grid-row: 3;
  }

  .board-row:after {
    display: none;
  }

  .square {
    line-height: 1em;
    margin-right: 0;
    margin-top: 0;
  }
}
