* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

li {
  margin: 0.5em;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.square {
  background: #fff;
  border: none;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.board-row:nth-child(2) button:nth-of-type(1n + 1) {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

button:nth-of-type(2) {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.x-color {
  color: #008500;
}

.o-color {
  color: #0000af;
}

.winner-color {
  background-color: rgba(255, 217, 0, 0.5);
}

.move-button {
  background-color: transparent;
  border: 1px solid rgb(86, 86, 90);
  border-radius: 4px;
  color: rgb(86, 86, 90);
  font-size: 1em;
  line-height: 1.5;
}

.move-button:hover {
  background-color: rgb(9, 98, 158);
  color: #fff;
}

.bold {
  font-weight: bold;
}

@supports (grid-area: auto) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .game {
    grid-column: 2 / 3;
  }

  .tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 68px);
    grid-template-rows: repeat(3, 68px);
  }

  .board-row {
    grid-column: 1 / span 3;
  }

  .board-row:first-of-type {
    grid-row: 1;
  }

  .board-row:nth-of-type(2) {
    grid-row: 2;
  }

  .board-row:last-of-type {
    grid-row: 3;
  }

  .board-row:after {
    display: none;
  }

  .square {
    line-height: 1em;
    margin-right: 0;
    margin-top: 0;
  }
}
